body {
    background-color: #3F94E7;
}

main {
    padding-top: 30px;
}

.logo {
    height: 35px;
    width: 170px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

img {
    height: 35px;
}

.form-signup fieldset {
    border: none;
    width: 400px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.form-signup fieldset h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 40px;
}

.form-signup label {
    display: block;
    margin-bottom: 20px;
}

.form-signup input,
button {
    display: block;
    width: 320px;
    border: 2px solid #E7E7E7;
    padding: 15px;
    margin-bottom: 20px;
}

.form-signup button {
    background-color: #65C470;
    height: 55px;
    border: 2px solid #65C470;
    font-size: 20px;
    color: white;
    margin-bottom: 60px;
}

.form-signup p {
    text-align: center;
    font-weight: bold;
    color: white;
}

.form-signup a {
    color: white;
}